In [3]:
import pandas as pd
datos={
    'meses':["enero", "febrero", "marzo","abril"],
    'dias':["31","28","31","30"]
}

res1=pd.DataFrame(datos);       #DATAFRAME
print(res1)
print("")

dias=["31","28","31","30"];     #SERIES 
res2=pd.Series(dias,index=["enero", "febrero", "marzo","abril"])
print(res2)

     meses dias
0    enero   31
1  febrero   28
2    marzo   31
3    abril   30

enero      31
febrero    28
marzo      31
abril      30
dtype: object

In [44]:
import pandas as pd

tf=pd.read_csv('meses.csv', encoding='latin-1');      #importar CSV
print(tf);

           Mes  Días
0        Enero    31
1      Febrero    28
2        Marzo    31
3        Abril    30
4         Mayo    31
5        Junio    30
6        Julio    31
7       Agosto    31
8   Septiembre    30
9      Octubre    31
10   Noviembre    30
11   Diciembre    31

In [22]:
print(tf.head(3))                 #primero y ultimos 3 filas
print("")
print(tf.tail(3))

       Mes  Días
0    Enero    31
1  Febrero    28
2    Marzo    31

          Mes  Días
9     Octubre    31
10  Noviembre    30
11  Diciembre    31

In [23]:
print(tf.info())                             #informacion general

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mes     12 non-null     object
 1   Días    12 non-null     int64
dtypes: int64(1), object(1)
memory usage: 320.0+ bytes
None

In [45]:
ds2=pd.read_csv("meses2.csv")
print(ds2)
print("  ")
ds3=ds2.dropna();  #quitar las filas con elementos NaN (Not a number)
print(ds3)

           Mes  Dias
0        Enero  31.0
1      Febrero  28.0
2        Marzo  31.0
3          NaN  30.0
4         Mayo  31.0
5        Junio  30.0
6        Julio   NaN
7          NaN  31.0
8   Septiembre  30.0
9      Octubre  31.0
10   Noviembre   NaN
11   Diciembre  31.0

           Mes  Dias
0        Enero  31.0
1      Febrero  28.0
2        Marzo  31.0
4         Mayo  31.0
5        Junio  30.0
8   Septiembre  30.0
9      Octubre  31.0
11   Diciembre  31.0

In [50]:
print(ds2)
print("  ")
ds4=ds2;
ds4["Dias"].fillna(30.5, inplace=True)   #remplazar datos NaN
print(ds4)
print("")

           Mes  Dias
0        Enero  31.0
1      Febrero  28.0
2        Marzo  31.0
3          NaN  30.0
4         Mayo  31.0
5        Junio  30.0
6        Julio  30.5
7          NaN  31.0
8   Septiembre  30.0
9      Octubre  31.0
10   Noviembre  30.5
11   Diciembre  31.0

           Mes  Dias
0        Enero  31.0
1      Febrero  28.0
2        Marzo  31.0
3          NaN  30.0
4         Mayo  31.0
5        Junio  30.0
6        Julio  30.5
7          NaN  31.0
8   Septiembre  30.0
9      Octubre  31.0
10   Noviembre  30.5
11   Diciembre  31.0

C:\Users\megat\AppData\Local\Temp\ipykernel_7868\2210045010.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ds4["Dias"].fillna(30.5, inplace=True)

In [52]:
ds5=ds2;
ds5.fillna({"Mes":"MES"}, inplace=True)       #remplazar datos NaN
print(ds5)

           Mes  Dias
0        Enero  31.0
1      Febrero  28.0
2        Marzo  31.0
3          MES  30.0
4         Mayo  31.0
5        Junio  30.0
6        Julio  30.5
7          MES  31.0
8   Septiembre  30.0
9      Octubre  31.0
10   Noviembre  30.5
11   Diciembre  31.0

In [58]:
es=pd.read_csv('meses3.csv');   
print(es)
print("")
prom=es["Dias"].mean();
#print(prom)
es.fillna({"Dias":prom}, inplace=True)  #Remplazar pero ahora con el promedio
print(es)

           Mes  Dias
0        Enero  31.0
1      Febrero  28.0
2        Marzo  31.0
3          NaN  30.0
4         Mayo  31.0
5        Junio  30.0
6        Julio   NaN
7          NaN  31.0
8   Septiembre  30.0
9      Octubre  31.0
10   Noviembre   NaN
11   Diciembre  31.0

           Mes  Dias
0        Enero  31.0
1      Febrero  28.0
2        Marzo  31.0
3          NaN  30.0
4         Mayo  31.0
5        Junio  30.0
6        Julio  30.4
7          NaN  31.0
8   Septiembre  30.0
9      Octubre  31.0
10   Noviembre  30.4
11   Diciembre  31.0

In [62]:
for x in es.index:
    #print(x)
    if es.loc[x,"Dias"]<30:      #.loc selecciona datos de un DataFrame(fila,columna)  
        es.loc[x,"Dias"]=32:       #Limpir datos erroneos
print(es)

           Mes  Dias
0        Enero  31.0
1      Febrero  32.0
2        Marzo  31.0
3          NaN  30.0
4         Mayo  31.0
5        Junio  30.0
6        Julio  30.4
7          NaN  31.0
8   Septiembre  30.0
9      Octubre  31.0
10   Noviembre  30.4
11   Diciembre  31.0